body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.navbar a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.container {
    display: flex;
    padding: 60px;
}

.left {
    width: 50%;
}

.right img {
    width: 300px;
    border: 1px solid #ccc;
}
